@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: orangered;
    font-family: "Sniglet", system-ui;
    display: flex;
    flex-wrap: wrap;
}
header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.logo{
    width: 30%;
    margin-bottom: 10px;
}
.tipoPizza{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 0px;
    align-items: center;
    
}
.pizzaImg{
    width: 60px;
    float: left;
    margin-right: 20px;
}
button{
    width: 40%;
    background-color: black;
    padding: 1.2rem;
    color:#F57802;
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-size: 2rem;
    border: 2px solid ;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
}

button:hover{
    background-color: #F57802;
    color: black;
    transition: ease-in-out;
    

}
h4{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 1.1rem;
    margin-top: 15px;
    text-align: center;
}
li{
    margin-top: 30px;;
}
li+li{
    margin-bottom: 20px;
}

p{
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #FB7600;
}
span{
    color:whitesmoke;
    float: right;
    margin-left: 15px;;
}
.bebidas{

    
}
.bebidas img{
    float: left;

    margin: 0 auto;
}
footer{
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
    margin:10px auto;
    padding: 25px;
    width: 35%;
    text-align: center;
    padding:15px 0;
}
footer a{
    margin:0 auto;
    list-style: none;
    color: #F57802;
    width: 100%;
}
.footer{
    display: inline-block;
    margin-bottom: 15px;
}
section ul{
    display: none;
    list-style-type: none;
}
.creditos{
    font-size: 0.5rem;
    color: rgb(48, 43, 53);
}
.creditos a{
    text-decoration: none;
    color: rgb(48, 43, 53);
}
.oferta{
    width: 120px;

    cursor: pointer;
}

.icone{
    padding: 15px;
    width: 35px;
}
#open-modal{
    border: none;
    margin-left: -30px;
}
#open-modal:hover{
    background-color: black;
}
#modal{
    width: 50%;
    margin: 25px auto;
}
dialog {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 99%;
    background-color: black;
  }
#close-modal{
    padding: 15PX;
    max-width: 60px;
    float: right;
    margin-right: 10px;
  }
dialog img{
    max-width: 390px;

}
@media screen and (max-width: 760px) {
    .logo{
        width: 60%;
        margin-bottom: 30px;
    }
    ul{max-width: 65%;}
    h4{font-size: 1.2rem;}
    
    button{
        width: 84%;
        font-size: 1.2rem;
    }
    .bebidas img{
        margin: 0 auto;
    }
    #modal{
        width: 86%;
    }
    dialog img{
        max-width: 280px;
    
    }
}
